<!DOCTYPE html>
<html>

<head>
    <title>{{subject}}</title>
</head>

<body>
    <table class="m_7954753092504951265m_3267112779454068960deviceWidth" width="580" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center" style="background: black">
        <tbody style="font-size:14px;font-weight:normal;font-family:helvetica,sans-serif;line-height:24px;color: white;">
            <tr>
                <td style="padding:10px 20px 10px 20px">
                    <div style="margin: 20px 0;">
                        <a href="#m_7954753092504951265_m_3267112779454068960_"
                            style="text-decoration:none;color:red;font-size:18px;font-weight:bold;font-family:helvetica,sans-serif">
                            {{text}}
                        </a>
                    </div>
                    <div>Heathens</div>
                    <div>Hello hello hello how low {{username}}</div>
                </td>
            </tr>


            <tr>
                <td style="padding:10px 20px 10px 20px">
                    <div style="margin-top: 20px;margin-bottom: 20px">
                        <u></u>
                        <table cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td style="border-radius:4px;color:#ffffff;display:block;padding:2px 4px 2px 4px"
                                        width="220px" height="40" bgcolor="red" align="center">
                                        <a href="{{url}}"
                                            style="font-size:16px;font-weight:bold;font-family:helvetica,sans-serif;text-decoration:none;line-height:40px;width:100%;display:inline-block;height:100%"
                                            target="_blank">
                                            <span style="color:#ffffff">
                                                {{subject}}
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <u></u>
                    </div>
                    <p style="padding:0px 0px 10px 0px">
                        &copy; Heathens
                    </p>
                </td>
            </tr>


        </tbody>
    </table>
</body>

</html>
